#mixedimage_container1{
	position: relative;
}

.mixedimage label{
	padding: 0 !important;
	display: none !important;
}

.mixedimage .x-form-field-trigger-wrap{
	margin-bottom: 10px;
}


.mixedimge_name{
	color: #777;
	font-size: 12px;
}

.mixedimage .x-form-field-wrap .x-field-combo-btns .x-form-trigger{
	background-color: #fff;
	text-align: center;
	border-left: 1px solid #e4e4e4 !important;
}

.mixedimage .x-form-field-wrap .x-field-combo-btns .x-form-trigger:hover{
	border-left-color: transparent !important;
}

.mixedimage .x-form-field-wrap .x-field-combo-btns .x-form-trigger::before{
	right: 0px !important;
}

.mixedimage .x-form-field-wrap .x-field-combo-btns .x-form-trigger:first-child{
	border-radius: 0 !important;
}
.mixedimage .x-form-field-wrap .x-field-combo-btns .x-form-trigger:not(:last-child):hover{
	border-radius: 0;
}

.x-field-trigger0-class:before {content: '\f00d' !important; }
.x-field-trigger1-class:before {content: '\f1c5' !important;}
.x-field-trigger2-class:before {content: '\f108' !important;}

.mixedimage .x-form-field-wrap .x-field-combo-btns .x-form-trigger{
	background-color: #fff;
}

.mixedimage .x-form-field-wrap .x-field-combo-btns .x-form-trigger:hover{
	background-color: #3697CD;
}

.modx-tv-image-preview{
	margin-bottom: 20px;
}

.mixedimage.x-form-focus{
	border: none !important;
}